<div class="container-fluid bg-white main-container ">
    <div class="main d-flex  flex-column align-items-center">
        <h2 class="main-heading r">Welcome Back <span class="text-primary">Abrar!</span></h2>

        <div class="buttons text-center">
            <button type="button" class="btn  accoutn-setting">My Product Ads</button>
            <button type="button" class="btn btn-primary text-white p-3  text-5">Account Setting</button>
        </div>

    </div>

    <div class="profile-setting">
        <hr class=" mb-4">
        <h3 class=" h2 fw-bold">Profile Details</h3>
        <div class="row">
            <div class="col-2 g-0">
                <img src="assets/images/car1.webp" alt="" class="vendor-image">
            </div>
            <div class="col ">
                <div class="row d-flex flex-column  mt-4">
                    <div class="col">
                        <a href="" class="text-dark fs-5">Upload your photo</a>
                    </div>
                    <div class="col">
                        <p class="">JPG, JPEG, PNG Min: 400px, Max: 1024px</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mt-5">
                <div class="col">
                    <h3 class="label">First Name</h3>

                    <div class="input">
                        <input type="text" name="" class="first-name input-style" placeholder="Your name here..">
                    </div>
                </div>
                <div class="col">
                    <h3 class="label">Date-of-Birth</h3>

                    <div class="input">
                        <input type="date" name="" class="date input-style" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <h3 class="label">Gender</h3>

                    <div class="input">
                        <!-- <label for="gender">Select Gender:</label> -->
                        <select class="form-control input-style" id="gender" name="gender" >
                            <option value="male">Select Genger</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="other">Other</option>
                        </select>
                      </div>
                      
                </div>
<div class="row">
                <div class="col mt-4">
                    <h3 class="label">Country</h3>
                    <div class="input">
                        <!-- <label for="gender">Select Gender:</label> -->
                        <select class="form-control input-style" id="gender" name="gender">
                            <option value="uae">Select Country</option>
                            <option value="uae">United Arab Emirates</option>
                            <option value="saudi">Saudi Arabia</option>
                            <option value="qatar">Qatar</option>
                            <option value="oman">Oman</option>
                            <option value="bahrain">Bahrain</option>
                        </select>
                      </div>
                      
                </div>
            </div>


            <!-- CONTACT INFORMATION -->
            <h3 class="contact-heading mt-4 mb-2">Contact Information</h3>
            <div class="row">
                <div class="col">
                    <div class="input">
                        <input type="email" name="" class="email input-style" placeholder="Your email here..">
                    </div>
                </div>
                <div class="col">
                    <div class="input">
                        <input type="text" name="" class="phone-number input-style" placeholder="+97 | 58 842 3410">
                    </div>
                </div>
            </div>

            <!-- BUTTONS -->
            <div class="row">
                <div class="col mt-5 me-5">
                    <div class="buttons text-center">
                        <button type="button" class="btn  accoutn-setting border p-3 me-4">Discard Changes</button>
                        <button type="button" class="btn btn-primary text-white p-3 ms-2 text-5">Save changes</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<img src="assets/images/Ellipse 1.png" alt="" class="Ellips-1">
  <img src="assets/images/Ellipse 2.png" alt="" class="Ellips-2">


<app-main-footer></app-main-footer>