<body>
    
<div class="container main">
    <!-- Search Bar -->
    <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="row  ">
            <div class="search-bar mt-3">
                <img src="assets/images/search-icon.svg" alt="">
                <input type="text" placeholder="Search...">
                <button type="search" class="home-search-btn">Search</button>
            </div>
        </div>

        <!-- Suggustiosn -->
        <div class="row g-0">
            <div class="">
                <mat-chip class="chips ms-2 p-2">Used cars</mat-chip>
                <mat-chip class="chips ms-2 p-2">Suzuki Car's</mat-chip>
                <mat-chip class="chips ms-2 p-2">Farrari</mat-chip>
                <mat-chip class="chips ms-2 p-2">McLaren</mat-chip>
                <mat-chip class="chips ms-2 p-2">Jeeps</mat-chip>
            </div>
        </div>

    </div>


    <div class="">
        <div class="d-flex flex-row-reverse gap-1 mt-4">
            <div class="">
                <select name="" id="" class="dropdown">
                    <option value="Make">Make</option>
                    <option value="Make">Make</option>
                    <option value="Make">Make</option>
                </select>
            </div>
            <div class="">
                <select name="" id="" class="dropdown">
                    <option value="Years" selected>Years</option>
                    <option value="Years">Years</option>
                    <option value="Years">Years</option>
                </select>
            </div>
            <div class="">
                <select name="" id="" class="dropdown">
                    <option value="Price" selected>Price</option>
                    <option value="Price">Price</option>
                    <option value="Price">Price</option>
                </select>
            </div>
            <div class="">
                <select name="" id="" class="dropdown">
                    <option value="Kilometer" selected>Kilometer</option>
                    <option value="Kilometer">Kilometer</option>
                    <option value="Kilometer">Kilometer</option>
                </select>
            </div>
        </div>
        
        <div class="row g-0">
            <div class="col-3 mt-4">
                <h2 class="checkbox-title">Sort By:</h2>
                <p class="checkbox">
                    <mat-checkbox>Newest to Oldest</mat-checkbox>
                </p>
                <p class="checkbox">
                    <mat-checkbox>Oldest to Newest</mat-checkbox>
                </p>
                <p class="checkbox">
                    <mat-checkbox>Price Highest to lowest</mat-checkbox>
                </p>
                <p class="checkbox">
                    <mat-checkbox>Kilometers Highest to lowest</mat-checkbox>
                </p>
                <p class="checkbox">
                    <mat-checkbox>Years Highest to lowest</mat-checkbox>
                </p>
                <p class="checkbox">
                    <mat-checkbox>Years lowest to highest</mat-checkbox>
                </p>

                <h2 class="checkbox-title">Transmission Type:</h2>
                <p class="checkbox">
                    <mat-checkbox>Automatic</mat-checkbox>
                </p>
                <p class="checkbox">
                    <mat-checkbox>Manual</mat-checkbox>
                </p>


                <h2 class="checkbox-title">Seating Capacity:</h2>
                <p class="checkbox">
                    <mat-checkbox>2 Seater</mat-checkbox>
                </p>
                <p class="checkbox">
                    <mat-checkbox>4 Seater</mat-checkbox>
                </p>
                <p class="checkbox">
                    <mat-checkbox>6 Seater</mat-checkbox>
                </p>
                <p class="checkbox">
                    <mat-checkbox>8 Seater</mat-checkbox>
                </p>
                <p class="checkbox">
                    <mat-checkbox>8+ Seater</mat-checkbox>
                </p>

            </div>
            <div class="col-9">
             
                <div class="row  gy-3 mt-4   mb-5">
                    <div class=" col-3 mr-4 ">
                        <div class="card">
                            <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                            <div class="card-body">
                                <h5 class="card-title">McLaren Senna</h5>
                                <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                <p class="card-price">AED 198,000</p>
                            </div>
                        </div>


                    </div>



                    <div class=" col-3 mr-4">
                        <div class="card">
                            <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                            <div class="card-body">
                                <h5 class="card-title">McLaren Senna</h5>
                                <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                <p class="card-price">AED 198,000</p>
                            </div>
                        </div>
                    </div>


                    <div class=" col-3 mr-4">
                        <div class="card">
                            <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                            <div class="card-body">
                                <h5 class="card-title">McLaren Senna</h5>
                                <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                <p class="card-price">AED 198,000</p>
                            </div>
                        </div>
                    </div>



                    <div class=" col-3 mr-4">
                        <div class="card">
                            <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                            <div class="card-body">
                                <h5 class="card-title">McLaren Senna</h5>
                                <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                <p class="card-price">AED 198,000</p>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Row 2 -->

                <div class="row  gy-3 mt-4  mb-5">
                    <div class=" col-3 mr-4 ">
                        <div class="card">
                            <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                            <div class="card-body">
                                <h5 class="card-title">McLaren Senna</h5>
                                <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                <p class="card-price">AED 198,000</p>
                            </div>
                        </div>


                    </div>



                    <div class=" col-3 mr-4">
                        <div class="card">
                            <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                            <div class="card-body">
                                <h5 class="card-title">McLaren Senna</h5>
                                <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                <p class="card-price">AED 198,000</p>
                            </div>
                        </div>
                    </div>


                    <div class=" col-3 mr-4">
                        <div class="card">
                            <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                            <div class="card-body">
                                <h5 class="card-title">McLaren Senna</h5>
                                <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                <p class="card-price">AED 198,000</p>
                            </div>
                        </div>
                    </div>



                    <div class=" col-3 mr-4">
                        <div class="card">
                            <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                            <div class="card-body">
                                <h5 class="card-title">McLaren Senna</h5>
                                <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                <p class="card-price">AED 198,000</p>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Row 3 -->

                <div class="row  gy-3 mt-4  mb-5">
                    <div class=" col-3 mr-4 ">
                        <div class="card">
                            <img src="assets/images/listing-card-2.png" class="card-img-top" alt="Image 3">
                            <div class="card-body">
                                <h5 class="card-title">McLaren Senna</h5>
                                <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                <p class="card-price">AED 198,000</p>
                            </div>
                        </div>


                    </div>



                    <div class=" col-3 mr-4">
                        <div class="card">
                            <img src="assets/images/listing-card-2.png" class="card-img-top" alt="Image 3">
                            <div class="card-body">
                                <h5 class="card-title">McLaren Senna</h5>
                                <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                <p class="card-price">AED 198,000</p>
                            </div>
                        </div>
                    </div>


                    <div class=" col-3 mr-4">
                        <div class="card">
                            <img src="assets/images/listing-card-2.png" class="card-img-top" alt="Image 3">
                            <div class="card-body">
                                <h5 class="card-title">McLaren Senna</h5>
                                <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                <p class="card-price">AED 198,000</p>
                            </div>
                        </div>
                    </div>



                    <div class=" col-3 mr-4">
                        <div class="card">
                            <img src="assets/images/listing-card-2.png" class="card-img-top" alt="Image 3">
                            <div class="card-body">
                                <h5 class="card-title">McLaren Senna</h5>
                                <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                <p class="card-price">AED 198,000</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Row 4 -->
                <div class="row  gy-3 mt-4 mb-5">
                    <div class=" col-3 mr-4 ">
                        <div class="card">
                            <img src="assets/images/listing-card-2.png" class="card-img-top" alt="Image 3">
                            <div class="card-body">
                                <h5 class="card-title">McLaren Senna</h5>
                                <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                <p class="card-price">AED 198,000</p>
                            </div>
                        </div>


                    </div>



                    <div class=" col-3 mr-4">
                        <div class="card">
                            <img src="assets/images/listing-card-2.png" class="card-img-top" alt="Image 3">
                            <div class="card-body">
                                <h5 class="card-title">McLaren Senna</h5>
                                <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                <p class="card-price">AED 198,000</p>
                            </div>
                        </div>
                    </div>


                    <div class=" col-3 mr-4">
                        <div class="card">
                            <img src="assets/images/listing-card-2.png" class="card-img-top" alt="Image 3">
                            <div class="card-body">
                                <h5 class="card-title">McLaren Senna</h5>
                                <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                <p class="card-price">AED 198,000</p>
                            </div>
                        </div>
                    </div>



                    <div class=" col-3 mr-4">
                        <div class="card">
                            <img src="assets/images/listing-card-2.png" class="card-img-top" alt="Image 3">
                            <div class="card-body">
                                <h5 class="card-title">McLaren Senna</h5>
                                <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                <p class="card-price">AED 198,000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/Ellipse 1.png" alt="" class="Ellips-1">
    <!-- <img src="assets/images/Ellipse 2.png" alt="" class="Ellips-2"> -->
</div>
</body>
