/* Add custom CSS rules for your form here */
.form-group {
    margin-bottom: 20px; /* Add some space between form groups */
  }
  
  .btn-primary {
    background-color: #007bff; /* Change the primary button color */
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Change the button color on hover */
    border-color: #0056b3;
  }
  



  .container {
    margin-top: 20px;
  }
  
  .list-group-item {
    border-radius: 0;
  }
  
  .table {
    margin-top: 20px;
  }

  
  // .form-control {
  //   border-radius: 0;
  //   margin-bottom: 20px;
  // }
  
  // .container {
  //   margin-top: 20px;
  // }
  
  // .list-group-item {
  //   border-radius: 0;
  // }
  
  // .table {
  //   margin-top: 20px;
  // }
  .container {
    margin-top: 20px;
  }
  
  .search-input {
    width: 100%;
  }
  
  .table-container {
    margin-top: 20px;
  }
  
  .category-name {
    width: 100%;
  }
  
  .image-cell{
   padding: 12px;

  }