<app-main-navbar></app-main-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container text-center pt-5">
        <div class="row">
            <div class="col">
                <h1 class="mh">Find what you need in</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
              <select name="" id="" class="dubai">
                <option value=""class="sh">Dubai</option>
                <option value=""class="sh">Dubai</option>
                <option value=""class="sh">Dubai</option>
                <option value=""class="sh">Dubai</option>
              </select>
                <!-- <h2 class="sh">Dubai</h2> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-2 search-bar">
                  <img src="assets/images/search-icon.svg" alt="">
                <input type="text" placeholder="Search...">
                <button type="search" class="home-search-btn fw-bold">Search</button>
              </div>
        </div>
    </div>

    <div class="container">
        <div class="row chip">
            <div class="col col-8 offset-2">
                <div class="chips-container mt-2">
                    <mat-chip class="chips ms-2 p-2">Used cars</mat-chip>
                    <mat-chip class="chips ms-2 p-2">Property for rent</mat-chip>
                    <mat-chip class="chips ms-2 p-2">Used Bikes</mat-chip>
                    <mat-chip class="chips ms-2 p-2">Used Mobile</mat-chip>
                    <mat-chip class="chips ms-2 p-2">Property for sale</mat-chip>
                    <mat-chip class="chips ms-2 p-2">Cars</mat-chip>

                </div>
            </div>
        </div>
    </div>


    <!-- Section*2 -->
    <div class="container">
        <div class="row mt-5">
            <div class="col-5">
                <h2 class="s2h">Categories</h2>
                <p class="s2p">Welcome to Kurama, your local hub for buying and
                    selling used products. Explore a world of possibilities, right at your fingertips.</p>
            </div>
        </div>

        <div class="row mt-3">

            <div class="col-md-3 position-relative">
                <div class="overlay-card">
                    <img src="assets/images/card-4.png" class="card-img-top rounded" alt="Image 1">
                    <div class="card-body overlay">
                        <h3 class="card-title small-title">Property</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 position-relative">
                <div class="overlay-card">
                    <img src="assets/images/card-3.png" class="card-img-top rounded" alt="Image 1">
                    <div class="card-body overlay">
                        <h3 class="card-title">Mobile & Tablet</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 position-relative">
                <div class="overlay-card">
                    <img src="assets/images/card-2.png" class="card-img-top rounded" alt="Image 1">
                    <div class="card-body overlay">
                        <h3 class="card-title small-title">Motors</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 position-relative">
                <div class="overlay-card">
                    <img src="assets/images/card-1.png" class="card-img-top rounded" alt="Image 1">
                    <div class="card-body overlay">
                        <h3 class="card-title small-title">Classifieds</h3>
                    </div>
                </div>
            </div>

        </div>

        <!-- Card-2 -->
        <div class="row mt-5">
            <div class="col">
                <h2 class="c2h">Popular in Motors</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img src="assets/images/card-5.png" class="card-img-top" alt="Image 1">
                        <div class="card-body">
                            <h5 class="cards-title">Lamborghini Huracán</h5>
                            <p class="card-text">3-seat sofa with chaise longue,<br> Gunnared beige</p>
                            <p class="card-price">AED 198,000</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <img src="assets/images/card-6.png" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h5 class="cards-title">McLaren Senna</h5>
                            <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                            <p class="card-price">AED 198,000</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <img src="assets/images/card-7.png" class="card-img-top" alt="Image 3">
                        <div class="card-body">
                            <h5 class="cards-title">Suzuki Samurai</h5>
                            <p class="card-text">3-seat sofa with chaise longue,<br> Gunnared beige</p>
                            <p class="card-price">AED 198,000</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <img src="assets/images/card-8.png" class="card-img-top" alt="Image 4">
                        <div class="card-body">
                            <h5 class="cards-title">Volkswagen Beetle</h5>
                            <p class="card-text">3-seat sofa with chaise longue,<br> Gunnared beige</p>
                            <p class="card-price">AED 198,000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col">
                <h2 class="c2h">Popular in Mobile & Tablets</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img src="assets/images/card-9.png" class="card-img-top" alt="Image 1">
                        <div class="card-body">
                            <h5 class="cards-title">Mercedes-Benz • CLS...</h5>
                            <p class="card-text">3-seat sofa with chaise longue,<br> Gunnared beige</p>
                            <p class="card-price">AED 198,000</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <img src="assets/images/card-10.png" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h5 class="cards-title">Mercedes-Benz • CLS...</h5>
                            <p class="card-text">3-seat sofa with chaise longue,<br> Gunnared beige</p>
                            <p class="card-price">AED 198,000</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <img src="assets/images/card11.png" class="card-img-top" alt="Image 3">
                        <div class="card-body">
                            <h5 class="cards-title">Mercedes-Benz • CLS...</h5>
                            <p class="card-text">3-seat sofa with chaise longue,<br> Gunnared beige</p>
                            <p class="card-price">AED 198,000</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <img src="assets/images/card-12.png" class="card-img-top" alt="Image 4">
                        <div class="card-body">
                            <h5 class="cards-title">Mercedes-Benz • CLS...</h5>
                            <p class="card-text">3-seat sofa with chaise longue,<br> Gunnared beige</p>
                            <p class="card-price">AED 198,000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <h2 class="c2h">Popular in Property</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img src="assets/images/card-13.png" class="card-img-top" alt="Image 1">
                        <div class="card-body">
                            <h5 class="cards-title">Duplex</h5>
                            <p class="card-text">Jeans & Co, 1, 3011, Bern, CHE Jeans & <br>Co, 1, 3011, Bern</p>
                            <p class="card-price">AED 198,000</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <img src="assets/images/card-14.png" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h5 class="cards-title">Bungalow</h5>
                            <p class="card-text">Franziskanerkirche, Franziskanerplatz 1,<br> 6003, Luzern, CHE</p>
                            <p class="card-price">AED 198,000</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <img src="assets/images/card-15.png" class="card-img-top" alt="Image 3">
                        <div class="card-body">
                            <h5 class="cards-title">Villa</h5>
                            <p class="card-text">Mp Chanson Sàrl, Rue de Pont-de-Vaux 36, 2525,<br> Le Landeron, Neuenburg, CHE
                            </p>
                            <p class="card-price">AED 198,000</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <img src="assets/images/card-16.png" class="card-img-top" alt="Image 4">
                        <div class="card-body">
                            <h5 class="cards-title">Bulk Rent Unit</h5>
                            <p class="card-text">Schulhaus Hohenbühl, Hohenbühlstrasse 15,<br> 8032, Zürich, CHE</p>
                            <p class="card-price">AED 198,000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- container-3 -->
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col">
                <h2 class="c3h">About Kurama</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-2">
                <p class="c3p">At Kurama, we're dedicated to connecting communities through seamless buying and selling
                    experiences. With years of expertise in user-focused classifieds, we're committed to simplifying the
                    process for you. Join us on this journey and experience convenience like never before.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-8 mt-3  mb-5">
                <img src="assets/images/about-kuruma.png" alt="">
            </div>
        </div>
    </div>
    <img src="assets/images/Ellipse 1.png" alt="" class="Ellips-1">
    <img src="assets/images/Ellipse 2.png" alt="" class="Ellips-2">
    <!-- <img src="assets/images/Ellipse 1.png" alt="" class="Ellips-3"> -->

</body>
</html>
<app-main-footer></app-main-footer>
