body{
    background-color: #fff;
}
.home-search-btn {
    position: absolute;
    right: 0;
    display: inline-flex;
    height: 64px;
    padding: 6px 32px;
    justify-content: center;
    align-items: center;
    // gap: 8px;
    // flex-shrink: 0;
    border-radius: 0px 8px 8px 0px;
    background: var(--primary-colors-01, #1094FD);
    color: white;
    border: none;
}

.search-box input{
    border: none;
    outline: none;
}
.search-bar {
    position: relative;
    text-align: center;

    width: 77%;
    height: 64px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .search-bar input {
    width: 100%;
    height: 100%;
    // padding: 10px;
    border: none;
    outline: none;
  }



  .search-bar button i {
    font-size: 16px;
    vertical-align: middle;
  }


  .overlay .card-title{
    color: var(--neutral-grey-11, #FFF);

/* UI/T6/700 */
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 125% */

  }

  .card{
    display: flex;
padding: 8px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
border-radius: 8px;
background: var(--neutral-grey-10, #F5F5F5);
  }


.mh {
    color: var(--neutral-grey-02, #1A1A1A);

    /* UI/T2/700 */
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
    /* 110.714% */
}

.sh {
    color: var(--primary-colors-01, #1094FD);

    /* UI/T1/700 */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 109.375% */
}

.dubai{
  color: var(--primary-colors-01, #1094FD);

  /* UI/T1/700 */
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;


border: none;
}




.search-bar {
    display: flex;
    align-items: center;
    // background-color: white;
}

.search-input {
    flex-grow: 1;
    /* Adjust the margin as needed */
}

.category-dropdown {
    width: 150px;
    /* Adjust the width as needed */
    /* Adjust the margin as needed */
}

.search-button {
    background-color: #1976D2;
    /* Primary color */
    color: #fff;
    /* Text color */
    margin-bottom: 18px;
    padding: 25px 19px;
}

.chips {

    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--neutral-grey-10, #F5F5F5);
    }
    .chip{
      margin-left: -2rem;
      margin-top: -1rem;
    }

    .small-title{
      padding-left: -2rem;
    }


//   SECTION-2
.s2h {
    color: var(--neutral-grey-02, #1A1A1A);

    /* UI/T5/700 */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    /* 112.5% */
}

.s2p {
    color: var(--neutral-grey-07, #999);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}


/* landing.component.scss */

.overlay {
    position: absolute;

    top: 85%;
    left: 0%;
    // transform: translate(-50%, -50%);
    text-align: center;
    padding-left: 12px;
    color: rgb(197, 192, 192);
}
.card{
    border: none;
}

.card image {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
}

.card-title {
    color: var(--neutral-grey-11, #FFF);
    display: flex;
    /* UI/T6/700 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    padding-left: 18px;
    /* 125% */
}


.c2h {
    color: var(--neutral-grey-02, #1A1A1A);

    /* UI/T5/700 */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    /* 112.5% */
}


.card-body{
  padding: 0px;
}


.cards-title {
    color: var(--neutral-grey-01, #000);

    /* UI/B2/700 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0px;
    padding-bottom: 1px;


    // line-height: 24px;
    /* 150% */
}

.card-text {
    color: var(--neutral-grey-05, #666);

    /* UI/B4/400 */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
margin-bottom: 0px;

    /* 150% */
}

.card-price {
    color: var(--primary-colors-01, #1094FD);

    /* UI/B1/700 */
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 0px;
    padding-top: 4px;
    /* 155.556% */
}


//   container-3
.c3h {
    color: var(--primary-colors-01, #1094FD);

    /* UI/T1/700 */
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 109.375% */
}

.c3p {
    color: var(--neutral-grey-07, #999);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.Ellips-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.Ellips-2 {
    position: absolute;
    top: 7rem;
    right: 0;
}

.Ellips-3 {
    position: absolute;
    bottom: 0;
    right: 0;
}
