<div class="container-fluid g-0 p-5 bg-white">
    <br />
    <div class="row g-1 p-5">
        <div class="col-7">
            <gallery id="basic-test" style="max-height:440px; max-width:700px ;" [dots]="true" imageSize="cover"
                [items]="items">
            </gallery>
        </div>
        <div class="col-5">
            <h2 class="product-title">Ford F150 Lariat 2018</h2>
            <p class="date-posted overview">Posted 1 day ago</p>
            <h2 class="product-price">AED 163,000</h2>
           

            <div class="fw-bold g-0">
                Item overview
                <div class="container">
                    <div class="row g-0">
                        <div class="col-3">
                            <div class="rounded d-flex flex-column py-2 m-1 align-items-center bg-light">
                             <span class="badg">Trim</span>
                             <img src="assets/images/star.png" alt="">
                                <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
                                <span class="badg">Fabric</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="rounded d-flex flex-column p-2 m-1 align-items-center bg-light">
                             <span class="badg">Trim</span>
                             <img src="assets/images/star.png" alt="">
                                <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
                                <span class="badg">Fabric</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="rounded d-flex flex-column py-2 m-1 align-items-center bg-light">
                             <span class="badg">Trim</span>
                             <img src="assets/images/calender.png" alt="">
                                <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
                                <span class="badg">Fabric</span>
                            </div>
                        </div>
                    </div>
                    <!-- second row -->
                    <div class="row g-0">
                        <div class="col-3">
                            <div class="rounded d-flex flex-column py-2 m-1 align-items-center bg-light">
                             <span class="badg">Trim</span>
                             <img src="assets/images/calender.png" alt="">
                                <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
                                <span class="badg">Fabric</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="rounded d-flex flex-column p-2 m-1 align-items-center bg-light">
                             <span class="badg">Trim</span>
                             <img src="assets/images/Kilometer.png" alt="">
                                <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
                                <span class="badg">Fabric</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="rounded d-flex flex-column py-2 m-1 align-items-center bg-light">
                             <span class="badg">Trim</span>
                             <img src="assets/images/Kilometer.png" alt="">
                                <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
                                <span class="badg">Fabric</span>
                            </div>
                        </div>
                    </div>
                    <!-- third row -->
                    <div class="row g-0">
                        <div class="col-3">
                            <div class="rounded d-flex flex-column py-2 m-1 align-items-center bg-light">
                             <span class="badg">Trim</span>
                             <img src="assets/images/space.png" alt="">
                                <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
                                <span class="badg">Fabric</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="rounded d-flex flex-column p-2 m-1 align-items-center bg-light">
                             <span class="badg">Trim</span>
                             <img src="assets/images/space.png" alt="">
                                <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
                                <span class="badg">Fabric</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="rounded d-flex flex-column py-2 m-1 align-items-center bg-light">
                             <span class="badg">Trim</span>
                             <img src="assets/images/door.png" alt="">
                                <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
                                <span class="badg">Fabric</span>
                            </div>
                        </div>
                    </div>
                    <!-- fourth row -->
                    <div class="row g-0">
                        <div class="col-3">
                            <div class="rounded d-flex flex-column py-2 m-1 align-items-center bg-light">
                             <span class="badg">Trim</span>
                             <img src="assets/images/space.png" alt="">
                                <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
                                <span class="badg">Fabric</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="rounded d-flex flex-column p-2 m-1 align-items-center bg-light">
                             <span class="badg">Trim</span>
                             <img src="assets/images/space.png" alt="">
                                <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
                                <span class="badg">Fabric</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="rounded d-flex flex-column py-2 m-1 align-items-center bg-light">
                             <span class="badg">Trim</span>
                             <img src="assets/images/door.png" alt="">
                                <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
                                <span class="badg">Fabric</span>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
           
           
        
        </div>
    </div>


<div class="container d-flex">
   
    <div class="col-8">
    <div class="row">
        <h3 class="fw-bold fs-4">Additional Details</h3>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col overview-title">Body condition</div>
                    <div class="col overview">Perfect inside and out</div>
                </div>
                <div class="row mt-3">
                    <div class="col overview-title">Mechanical condition</div>
                    <div class="col overview">Perfect inside and out</div>
                </div>
                <div class="row mt-3">
                    <div class="col overview-title">Fuel Type</div>
                    <div class="col overview">Petrol</div>
                </div>
                <div class="row mt-3">
                    <div class="col overview-title">Seller type</div>
                    <div class="col overview">Owner</div>
                </div>
                <div class="row mt-3">
                    <div class="col overview-title">Seating Capacity</div>
                    <div class="col overview">4 Seater</div>
                </div>
                <div class="row mt-3 ">
                    <div class="col overview-title">Transmission Type</div>
                    <div class="col overview">Automatic Transmission</div>
                </div>
                <div class="row mt-3 ">
                    <div class="col overview-title">Engine Capacity (cc)</div>
                    <div class="col overview">3500 - 4000 cc</div>
                </div>
                <div class="row mt-3 ">
                    <div class="col overview-title">Extras</div>
                    <div class="col overview">Air Conditioning, Alarm/Anti-Theft System, AM/FM Radio, Aux Audio In, Bluetooth System, Climate Control, Cooled Seats, Fog Lights, Heat, Heated Seats, Keyless Entry, Keyless Start, Leather Seats, Navigation System, Parking Sensors, Power Locks, Power Mirrors, Power Seats, Power Windows, Premium Lights,
                         Premium Paint, Premium Sound System, Premium Wheels/Rims, Rear View Camera</div>
                </div>
                <div class="row mt-3 ">
                    <div class="col overview-title">Technical Features</div>
                    <div class="col overview">4 Wheel Drive, Anti-Lock Brakes/ABS, 
                        Cruise Control, Front Airbags, Power Steering, Rear Wheel Drive</div>
                </div>
                <div class="row mt-3 ">
                    <div class="col overview-title">Horsepower</div>
                    <div class="col overview">400 - 500 HP</div>
                </div>
                <div class="row mt-3 ">
                    <div class="col overview-title">No. of Cylinders</div>
                    <div class="col overview">6</div>
                </div>
                <div class="row mt-3 ">
                    <div class="col overview-title">Warranty</div>
                    <div class="col overview">Yes</div>
                </div>
                <div class="row mt-3 ">
                    <div class="col overview-title">Exterior Color</div>
                    <div class="col overview">Black</div>
                </div>
                <div class="row mt-3 ">
                    <div class="col overview-title">Interior Color</div>
                    <div class="col overview">Beigr</div>
                </div>
                <h2 class="mt-3 fs-3">Description</h2>
                <p class="overview">Ford F-150 Lariat 2018Model year: 2018Trim: Lariat fx-4( Full option)Spec. : GCCAccident FreeOriginal PaintEngine:V6 3.5L twin turbo (ecoboost)Gear: Automatic 10 gears, 4 wheel with differential lockColor : Black , Internal: dark brown with Paige leather seatsOptions : course control, Ambient light, leather seats with cooling , LED headlights , bed cover, keyless entry, remote start, blind spot, rear camera with sensorsWarranty : under warranty till 100,000km extendable , new tires and batteryMilage: 96,000 Km Original MilageI’m the second owner since 2019The
                     car well maintained and rarely used on off-roadPrice: 163,000 AEDContact:+971552119113</p>
            </div>
            <div class="col-6">

            </div>
        </div>
       
    </div>
</div>

<div class="col-4">
    <div class="row">
        <h2 class="overview-title">Location:<span class="overview">Dubai</span></h2>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.0040243987637!2d74.22999232555709!3d31.41401520238903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39190032e0186e85%3A0xefee121be8064b7d!2sDubai%20Town%20Lahore%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1701085065888!5m2!1sen!2s" width="430" height="200" 
            style="border:0;"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
            <button class="btn btn-primary text-white ">Contact Seller</button>
    </div>
</div>
</div>
    

   <!-- similar cars -->
   <div class="container p-4">
    <div class="fs-3 fw-bold ">Similar Ads</div>
    <br />
    <div class="row  gy-3    mb-5">
        <div class=" col-3 mr-4 ">
            <div class="card">
                <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                <div class="card-body">
                    <h5 class="card-title">McLaren Senna</h5>
                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                    <p class="card-price">AED 198,000</p>
                </div>
            </div>


        </div>



        <div class=" col-3 mr-4">
            <div class="card">
                <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                <div class="card-body">
                    <h5 class="card-title">McLaren Senna</h5>
                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                    <p class="card-price">AED 198,000</p>
                </div>
            </div>
        </div>


        <div class=" col-3 mr-4">
            <div class="card">
                <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                <div class="card-body">
                    <h5 class="card-title">McLaren Senna</h5>
                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                    <p class="card-price">AED 198,000</p>
                </div>
            </div>
        </div>



        <div class=" col-3 mr-4">
            <div class="card">
                <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                <div class="card-body">
                    <h5 class="card-title">McLaren Senna</h5>
                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                    <p class="card-price">AED 198,000</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>