

<div class="container-fluid header">
    <div class="row">
      <!-- Logo -->
      <div class="col">
        <img src="assets/images/logo.png" alt="Logo" class="logo pt-2">
      </div>

      <!-- Navigation Items -->
      <div class="col nav-items pt-3">
        <a href="#" class="active fw-bold">Motors</a>
        <a href="#">Property for Sale</a>
        <a href="#">Classified</a>
        <a href="#">Mobile & Tabs</a>
      </div>

      <!-- Language Convertor and Buttons -->
      <div class="col language-buttons">


            <select class="languade-convertor">
                <option value="">Eng</option>
                <option value="">Eng</option>
                <option value="">Eng</option>
            </select>
        <a class="btn  login-button fw-bold" [routerLink]="'/auth/login'">Login</a>
        <button class="btn btn-primary sell-button text-white fw-bold" routerLink="/register">Start Selling</button>
      </div>
    </div>
  </div>
